@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --color-primary: #fff4f1;
  --color-solid: #dc583e;
  --color-solidone: #ac2c28;
  --color-solidtwo: #af872f;
  --color-tertiary: #af872f;
  --color-textcolor: #af872f;   /* fixed the typo */
  --color-grey-50: #f5f5f5;     /* example grey color */
}

body {
  background-color: var(--color-primary);
  color: var(--color-textcolor);
  font-family: "Poppins", sans-serif;
}

button {
  background-color: var(--color-solid);
  color: white;
}

